[Desktop Entry]
Name=Sparky
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=Sparky (based on breeze-dark)
X-KDE-PluginInfo-Version=5.16
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=Sparky
defaultFileSuffix=.png
defaultWidth=1024
defaultHeight=768

[ContrastEffect]
enabled=true
contrast=0.2
intensity=0.4
saturation=1.7
